[submodule "xMZ-Mod-Touch-Client-Server"]
	path = xMZ-Mod-Touch-Client-Server
	url = https://github.com/Kliemann-Service-GmbH/xMZ-Mod-Touch-Client-Server.git
[submodule "xmz_shift_register"]
	path = xmz_shift_register
	url = https://github.com/zzeroo/xmz_shift_register.git
[submodule "xMZ-Mod-Touch-GUI"]
	path = xMZ-Mod-Touch-GUI
	url = https://github.com/zzeroo/xMZ-Mod-Touch-GUI.git
[submodule "xMZ-Mod-Touch-Server"]
	path = xMZ-Mod-Touch-Server
	url = https://github.com/Kliemann-Service-GmbH/xMZ-Mod-Touch-Server
[submodule "xMZ-Mod-Touch-Client"]
	path = xMZ-Mod-Touch-Client
  url = https://github.com/Kliemann-Service-GmbH/xMZ-Mod-Touch-Client.git
